


body
{
    font-family: "Helvetica Neue" , Helvetica, Arial, Times New Roman;
    font-size: 12pt;
    color: #000000;
    background-color: #EAEAEA;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

hr
{
    clear: both;
    width: 99%;
    height: 0.25em;
    text-align: left;
    background-color: #808080;
    color: #808080;
}

table {
	margin:0;
	padding:0;
	border-collapse:collapse;
}

th {
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
}

td {
	text-align:center;
}

button:focus, button:active,
input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active {
	-moz-box-shadow: #6AAEE1 0 0 7;
	-webkit-box-shadow: #6AAEE1 0 0 7px;
	box-shadow: #6AAEE1 0 0 7px;
	-webkit-transition: -webkit-box-shadow .2s linear;
}

#titlebar {
	width: 100%;
	height: 20px;
	background-color: #6AAEE1;
}

#footer {
	padding: 6px 0px;
	width: 100%;
	color: #000000;
	text-align: left;
	background-color: #66AAE1;
	clear: both;
}