


body {
	font-family: "Helvetica Neue", Helvetica, Arial, Times New Roman;
	font-size: 10pt;
	color: #666668;
	background-color: #EAEAEA;
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	overflow-y: auto;
}

hr
{
	clear:both;
	width:95%;
	height:0.25em;
	text-align:left;
	/* filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#AA9FCA, endColorstr=#4B3077); */
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr=#b0abd5, endColorstr=#482f91); 

}

button:focus, button:active,
input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active {
	-moz-box-shadow: #6AAEE1 0 0 7;
	-webkit-box-shadow: #6AAEE1 0 0 7px;
	box-shadow: #6AAEE1 0 0 7px;
	-webkit-transition: -webkit-box-shadow .2s linear;
}

#titlebar {
	width: 100%;
	height: 20px;
	background-color: #6AAEE1;
}

#footer {
	padding: 6px 0px;
	width: 100%;
	color: #000000;
	text-align: left;
	background-color: #66AAE1;
	clear: both;
}